[submodule "src/MQM/AssetBundle"]
	path = src/MQM/AssetBundle
	url = git@github.com:mqmtech/AssetBundle.git
[submodule "src/MQM/BrandBundle"]
	path = src/MQM/BrandBundle
	url = git@github.com:mqmtech/BrandBundle
[submodule "src/MQM/CategoryBundle"]
	path = src/MQM/CategoryBundle
	url = git@github.com:mqmtech/CategoryBundle
[submodule "src/MQM/CheckoutBundle"]
	path = src/MQM/CheckoutBundle
	url = git@github.com:mqmtech/CheckoutBundle
[submodule "src/MQM/ImageBundle"]
	path = src/MQM/ImageBundle
	url = git@github.com:mqmtech/ImageBundle
[submodule "src/MQM/MonetaryBundle"]
	path = src/MQM/MonetaryBundle
	url = git@github.com:mqmtech/MonetaryBundle
[submodule "src/MQM/OrderBundle"]
	path = src/MQM/OrderBundle
	url = git@github.com:mqmtech/OrderBundle
[submodule "src/MQM/PaginationBundle"]
	path = src/MQM/PaginationBundle
	url = git@github.com:mqmtech/PaginationBundle
[submodule "src/MQM/PricingBundle"]
	path = src/MQM/PricingBundle
	url = git@github.com:mqmtech/PricingBundle
[submodule "src/MQM/ProductBundle"]
	path = src/MQM/ProductBundle
	url = git@github.com:mqmtech/ProductBundle
[submodule "src/MQM/ShopBundle"]
	path = src/MQM/ShopBundle
	url = git@github.com:mqmtech/ShopBundle
[submodule "src/MQM/ShoppingCartBundle"]
	path = src/MQM/ShoppingCartBundle
	url = git@github.com:mqmtech/ShoppingCartBundle
[submodule "src/MQM/SortBundle"]
	path = src/MQM/SortBundle
	url = git@github.com:mqmtech/SortBundle
[submodule "src/MQM/StatisticBundle"]
	path = src/MQM/StatisticBundle
	url = git@github.com:mqmtech/StatisticBundle
[submodule "src/MQM/TaxationBundle"]
	path = src/MQM/TaxationBundle
	url = git@github.com:mqmtech/TaxationBundle
[submodule "src/MQM/ToolsBundle"]
	path = src/MQM/ToolsBundle
	url = git@github.com:mqmtech/ToolsBundle
[submodule "src/MQM/UpgradeBundle"]
	path = src/MQM/UpgradeBundle
	url = git@github.com:mqmtech/UpgradeBundle
[submodule "src/MQM/UserBundle"]
	path = src/MQM/UserBundle
	url = git@github.com:mqmtech/UserBundle
[submodule "src/MQM/ViewModelBundle"]
	path = src/MQM/ViewModelBundle
	url = git@github.com:mqmtech/ViewModelBundle
[submodule "src/facebook"]
	path = src/facebook
	url = git://github.com/facebook/facebook-php-sdk.git
[submodule "src/twitteroauth"]
	path = src/twitteroauth
	url = git://github.com/kertz/twitteroauth.git
[submodule "src/AntiMattr/GoogleBundle"]
	path = src/AntiMattr/GoogleBundle
	url = git@github.com:mqmtech/GoogleBundle.git
[submodule "src/MQM/NewsLetterBundle"]
	path = src/MQM/NewsLetterBundle
	url = git@github.com:mqmtech/NewsLetterBundle.git
[submodule "src/FOS/FOSFacebookBundle"]
	path = src/FOS/FOSFacebookBundle
	url = git@github.com:mqmtech/FOSFacebookBundle.git
[submodule "src/FOS/FOSTwitterBundle"]
	path = src/FOS/FOSTwitterBundle
	url = git@github.com:mqmtech/FOSTwitterBundle.git
