web/uploads/*
web/bundles/*
app/config/parameters.yml
app/config/config.yml
app/bootstrap.php*
app/cache/*
app/logs/*
app/config/parameters.yml
app/config/config_demo.yml
build/
vendor/
composer.phar
nbproject
.idea
